body{
    margin: 20px;
    color: red;
    }
.main{
    width: 150px;
}
.card{
    display: block;
    margin:0px auto;
    padding: 20px;
    display:flex;
    justify-content: space-around;
    width: 400px;
    background-color: #ddebf8;
    border-bottom: 8px solid #d8cefe;
}
    .sec{
    color: #2b2839;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}









    .border{
        border:1px  dotted black;
        text-align: center;
        }